@{
    ViewData["Title"] = "CodeAndTravel";
}


<div class="container-fluid " style="height:100vh; margin: 0; padding: 0;">
    <div class="intro" style="height:100vh; margin: 0; padding: 0;"></div>
    
</div>